body{
    width: 100%;
    background-color: var(--sec);
}
.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
  }
.center img{
    max-width: 400px;
    padding-bottom: 50px;
}
h1 {
    font-size: 80px;
  }